__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store


*.sqlite
/tmp/

# Streamlit
.streamlit/

# Python venvs
.venv/

# Local data
# Keep all of data/ ignored EXCEPT plot JSONs we export.
/data/
!/data/plots/
!/data/plots/**/*.json
